main {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
}
.blockWho {
  padding: 25px;
}
.spanWho {
  color: rgb(103, 157, 21);
  font-weight: 600;
  font-size: 24px;
}
#spanWho{
  color:rgb(15, 199, 15);
}

.blockArea {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  background: aliceblue;
  box-shadow:  3px 5px 10px 1px rgba(0,0,0,0.3);
;
}
.blockItem {
  position: relative;
  background: gray;
  display: flex;
  justify-content: center;
  width: 140px;
  height: 140px;
  padding: 8px;
  margin: 5px;
  border-radius: 24px;
}


.blockItem:hover {
  background: rgb(174, 174, 174);
}
.krest {
  color: rgb(135, 220, 250);
  font-size: 38px;
  display: flex;
  justify-content: center;
}
.circle {
  color: rgb(135, 250, 135);
  font-size: 38px;
  display: flex;
  justify-content: center;
}
.winColor {
  color: rgb(21, 168, 21);
  background: gold;
  font-size: 50px;
  font-weight: 900;
}

.blokWinner {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
.textWin {
  font-size: 25px;
  margin-bottom: 12px;
}
#spanWin{
  font-size: 24px;
  color: gold;
}
.btnNewGame {
  padding: 12px;
  color: white;
  background: rgb(55, 196, 55);
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}
.btnNewGame:hover{
  background: rgb(82, 229, 82);
}